<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    {% block title %}
    <title>Home</title>
    {% endblock %}
</head>
<body>
   
    <div class="navbar">
        <div class="navbar-logo">
            <a href="/home" class="head_h1">Apartment Rental</a>
        </div>
        <div class="navbar-links">
            <a href="/">Home</a>
            <a href="/about">About</a>
        </div>
    </div>
    
   
  {% block content%}
 
  <div class="form_div">
    <form action="/done" method="POST">
        <label for="username">Full name</label><br>
        <input type="text" name="username" id=""><br><br>

        <label for="phone_number">Phone number</label><br>
        <input type="text" name="phone_number" id=""><br><br>

        <label for="place">Place</label><br>
        <select name="place" class="select">
            <option value="150">150</option>
            <option value="480">480</option>
            <option value="620">620</option>
        </select><br><br>

        <label for="size">Size Of Apartemt</label><br>
        <input type="text" name="size" id=""><br>

        <label for="price">Price Range</label><br>
        <input type="text" name="price" id=""><br><br>

        <button type="submit">Add</button>
    </form>
</div>
{% endblock %}

</body>
</html>